# CS61A code clips

In [2]:
# trick to create a new list
# inline if
digital=[1,2,3,4,5,6,7,8,9]
newdigital=[d+1 for d in digital if d % 2 ==0]
print(newdigital)

[3, 5, 7, 9]

In [4]:
# nest x and y
lambda f:lambda x:lambda y: f(x,y)

In [6]:
# a trick to inverse string
digital=list(range(10))
print(digital[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [7]:
# if you just want to do it 5 times
for _ in range(5):
    print("one time")

one time
one time
one time
one time
one time

In [1]:
# r'' don't trans in default
print(r'\\\t\\')

\\\t\\

In [4]:
digit=[1,2,3,4,5]
# digit=digit[1:]
digit=digit[:len(digit)-1]
print(digit)

[1, 2, 3, 4]

In [5]:
digit=[1,2,3,4,5,6]
for index,d in enumerate(digit):
    print(index,":",d)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6

In [6]:
digit=[1,2,3,4,5]
newdigit=digit[:-1]
print(newdigit)

[1, 2, 3, 4]

In [7]:
print(2**2)

4

# objects
attribute method metaphor

In [18]:
from unicodedata import name,lookup
name('我')
lookup('WHITE SMILING FACE')
lookup('SNOWMAN')
lookup('BABY')

'👶'

In [23]:
# mutation
# although we just change str, not original_str, but turns out they are just different name bind to the same object
str=['one','two','three']
original_str=str
str.remove('two')
print(str)
print(original_str)
# tuples are immutable
tp=('one','two','three')

['one', 'three']
['one', 'three']

A compond data object has an 'identity' in addition to the pieces of which it is composed

In [22]:
# identity operator 'is' vs. ==
a=[1]
b=[1]
print(a==b)
print(a is b)
a.append(2)
print(a)
print(b)

c=[3]
d=c
print(c==d)
print(c is d)
c.append(5)
print(c)
print(d)
print(c==d)
print(c is d)

True
False
[1, 2]
[1]
True
True
[3, 5]
[3, 5]
True
True

In [26]:
lst=[1,2,3]
lst.extend([lst.append(9), lst.append(10)])
lst

[1, 2, 3, 9, 10, None, None]

## Object Oriented Programming
We have seen that an object is a data value that has methods and attributes, accessible via dot notation. Every object also has a type, called its class. 
Objects communicate with each other, and useful results are computed as a consequence of their interaction.

In [27]:
# f string
print(f"'is there a quote'")
# yes!

'is there a quote'

In [ ]:
class A(object):
    a = 'a'
    @staticmethod
    # 与类有关但不牵扯到类的实例和类本身的函数, 既可以通过类的实例调用, 也可以通过类调用
    def foo1(name):
        print('hello', name)
    # self, 与类有关且需要通过实例来调用的函数
    def foo2(self, name):
        print('hello', name)
    @classmethod
    # cls, 与类有关且需要通过实例来调用的函数
    def foo3(cls, name):
        print('hello', name)

a=A()
a.foo1("bob1")
A.foo1("bob2")
a.foo2("bob3")
A.foo3("bob4")

In [ ]:
class attribute vs instance attribute
cls attribute change all

In [ ]:
# justify an empty list
ls=[]
if ls:
    print("it's not empty")
else:
    print("it's empty")

In [2]:
# create a infinite positive number
float('inf')

inf

In [5]:
# when you want to iterate meanwhile change a list, create a copy to do it
# make a list copy
ls=['one','two','three']
print(ls[:])
print(ls[:] is ls)
type(ls[:])

['one', 'two', 'three']
False

list

In [9]:
# copy items
dic={ 'wang':'man','zhang':'man','fei':'woman' }
print(dic.copy())
print(dic.copy().items())

{'wang': 'man', 'zhang': 'man', 'fei': 'woman'}
dict_items([('wang', 'man'), ('zhang', 'man'), ('fei', 'woman')])